.post {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.links {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #dff;
}

.comment {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-color: #ffd;
}

.comment-form {
    margin-top: 15px;
    margin-bottom: 15px;
    border-style: solid;
    border-width: 1px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-color: #eee;
}

textarea.comment-input {
    width:80%;
    height: 60px;
}