<!DOCTYPE html>

<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <title>Marks Blog</title>
    </head>

    <body>
        <h1 style="background-color: #ddd;">
            Welcome to my blog!
        </h1>

        <div class="links">
            {% if current_user %}
                <a href="/blog/logout">Logout</a>
                <a href="/blog">View Posts</a>
                <a href="/blog/newpost">New Post</a>
            {% else %}
                <a href="/blog">View Posts</a>
                <a href="/blog/signup">Sign up</a>
                <a href="/blog/login">Log in</a>
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>